@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

:root {

    background-color: #e7edd1;/*#e7edd1;*/
    box-sizing: border-box;
    font-family: "IBM Plex Sans", "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}

.bg-frostred-glass {
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color:'transparent'; /*rgba(188, 194, 166, 0.75);*/
}
    

.ag-theme-alpine {

    /* disable all borders */

 
    --ag-row-border-width: 1px;
    --ag-row-border-color: rgb(3, 128, 51);
    --ag-border-color: rgb(3, 128, 51);
    --ag-border-width: 1px;

    /* --ag-header-height: 30px;
    --ag-header-foreground-color: white;
    --ag-header-background-color: black;
    --ag-header-cell-hover-background-color: rgb(80, 40, 140);
    --ag-header-cell-moving-background-color: rgb(80, 40, 140); */

  }

  .ag-header {
    color: red;
    background-color:white
  }

  @font-face {
    font-family: "IBM Plex Sans";
    src: url('../font/IBM_Plex_Sans/IBMPlexSans-Bold.ttf');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: "IBM Plex Sans";
    src: url('../font/IBM_Plex_Sans/IBMPlexSans-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
  }
    
  @font-face {
    font-family: "IBM Plex Sans";
    src: url('../font/IBM_Plex_Sans/IBMPlexSans-Medium.ttf');
    font-weight: bold;
    font-style: normal;
  }
    
  @font-face {
    font-family: "IBM Plex Sans";
    src: url('../font/IBM_Plex_Sans/IBMPlexSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }

 