

:root{

    background-color: #e7edd1;
    box-sizing: border-box;

}

.bg-frostred-glass {
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color:'transparent'; /*rgba(188, 194, 166, 0.75);*/
}
    

